.derecha{
  float: right;
  width: 45%;
}
.izquierda{
  float: left;
  width: 45%;
}

.card{
  background-color: rgba(38, 43, 38, 0.684);
  color: white;
}

.container{
  padding: 2px 16px;
}

.btn{
  padding-top: 25px;
  width: 200px;
  text-align: center;
}

.btn .boton {
  background-color: rgba(42, 46, 42, 0.622);
  color: white;
  padding: 10px;
  border-radius: 20px;
 
}


.list-group{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-group li{
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px
}